*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: inherit;
}
#contacts, #skills>ul {
    display: flex;
    flex-wrap: wrap;
}
body {
    background-color: #e8e8e8; 
    padding-top: 50px; 
}
header, #skills>ul, #experience>ul {
    margin-left: auto;
    margin-right: auto;
    background-color: #f2f2f2;
    width: 800px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px 2px #868892;
}
#education>ul {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#education>ul>li {
    border-radius: 5px;
    padding: 20px;
    background-color: #f2f2f2;
    width: 45%;
    box-shadow: 0 0 5px 2px #868892;
    margin-top: 20px;
    position: relative;
}
header>h1>span {
    color: black;
}
header>h1 {
    text-align: left;
}
h1 {
    color: #1887c0;
    text-align: center;
}
h3, li>span {
    color: #868892;   
}
#avatar {
    width: 200px;
    float: left;
    border-radius: 5px;
    margin-right: 20px;
}
#contacts>li {
    width: 49%;
    margin-top: 10px;
}
article {
    margin-top: 20px;
}
#skills, #experience, #education {
    margin-top: 50px;
}
#skills>ul, #experience>ul {
    padding-left: 20px;
    vertical-align: middle;
    flex-direction: column;
    font-size: 19px;
}
#skills>ul {    
    list-style-type: decimal;
    height: 100px;
}
#skills>ul>li, #experience>ul>li {
    margin-left: 50px;
    margin-top: 5px;
}
.year {
    width: 30%;
    position: absolute;
    left: -10px;
    top: 20px;
    background-color: #1389c9;
    border-radius: 5px;
    padding: 10px;
    text-align: center;    
    box-shadow: 0.4em 0.4em 5px #868892;
}
.year+p {
    padding-top: 50px;
}
footer {
    margin-bottom: 20px;
    text-align: center;
    margin-top: 50px;
}